* {
  margin: 0;
  padding: 0;
  font-family: "Big Caslon", serif;
}

.container {
  width: 88%;
  height: 100%;
  background: #fffff9;
  padding-left: 6%;
  padding-top: 2%;
}

.Nav { 
  display: flex;
  justify-content: space-between; 
  align-items: baseline;
  padding: 20px; 
}

.virtuoso {
  color: #080808;
  text-align: left;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", serif;
  font-size: 32px;
  line-height: 150%;
  position: relative;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
}

nav ul li {
  margin-left: 15px;
}


.btn {
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: Grey; 
  font-size: 18px;
}

.search-item {
  text-align: right;
  line-height: 150%;
  position: relative;
}
